In [1]:
import pandas as pd
from datetime import datetime
import dask.dataframe as dd
import numpy as np
%matplotlib inline

In [2]:
dtypes = {
        'ip'            : 'uint32',
        'app'           : 'uint16',
        'device'        : 'uint16',
        'os'            : 'uint16',
        'channel'       : 'uint16',
        'is_attributed' : 'uint8',
        'click_id'      : 'uint32'
        }

In [3]:
data = dd.read_csv('test.csv',dtype=dtypes,low_memory=False)

In [4]:
data.head(20)

    click_id      ip  app  device  os  channel           click_time
0          0    5744    9       1   3      107  2017-11-10 04:00:00
1          1  119901    9       1   3      466  2017-11-10 04:00:00
2          2   72287   21       1  19      128  2017-11-10 04:00:00
3          3   78477   15       1  13      111  2017-11-10 04:00:00
4          4  123080   12       1  13      328  2017-11-10 04:00:00
5          5  110769   18       1  13      107  2017-11-10 04:00:00
6          6   12540    3       1   1      137  2017-11-10 04:00:00
7          7   88637   27       1  19      153  2017-11-10 04:00:00
8          9   14932   18       1  10      107  2017-11-10 04:00:00
9          8  123701   12       1  53      424  2017-11-10 04:00:00
10        10  106056   26       1  19      477  2017-11-10 04:00:00
11        11  111025    3       1  19      137  2017-11-10 04:00:00
12        12   16050   12       1  13      265  2017-11-10 04:00:00
13        13   31555    9       1  13      244  2017-11-10 04:00:00
14        14    3009   12       1  25      242  2017-11-10 04:00:00
15        15   17149   14       1  49      480  2017-11-10 04:00:00
16        16  104009   18       1  17      107  2017-11-10 04:00:00
17        20   17149   14       1  49      480  2017-11-10 04:00:00
18        19   80209   27       1  13      122  2017-11-10 04:00:00
19        17   41399    3       1   8      417  2017-11-10 04:00:00

In [5]:
data.click_time.min().compute(), data.click_time.max().compute()

('2017-11-10 04:00:00', '2017-11-10 15:00:00')